In [1]:
import os
import pandas as pd

# Path to the folder containing CSV files
folder_path = 'Wine_Stats'

# Load all CSV files into a list of DataFrames
dataframes = []
for file_name in os.listdir(folder_path):
    if file_name.endswith('.csv'):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path)
        dataframes.append(df)

# Combine all DataFrames into a single DataFrame
wine_df = pd.concat(dataframes, ignore_index=True)

# Display the first few rows
print(wine_df.head())

   Unnamed: 0                                       Name  Rating  \
0           0                  Fields Of Joy Shiraz 2014     4.0
1           1                          Shotfire GSM 2018     3.9
2           2                  Passion has Red Lips 2020     3.8
3           3   The Hermit Crab Viognier - Marsanne 2018     3.8
4           4  Cabernet Sauvignon (Batch No. 1 & 3) 2019     3.8

   Number of Ratings  Price  \
0                203  28.99
1                 36  19.49
2                350  27.50
3               1026  16.99
4                969  14.99

                                              Region                  Winery  \
0  Australia / South Australia / Mount Lofty Rang...               Two Hands
1              Australia / South Australia / Barossa            Thorn-Clarke
2  Australia / South Australia / Fleurieu / McLar...        Some Young Punks
3  Australia / South Australia / Fleurieu / McLar...              d'Arenberg
4                Australia / South Eastern Australia  Gentleman's Collection

                      Wine style  Alcohol content  \
0              Australian Shiraz        13.794543
1     Australian Rhône Blend Red        14.500000
2   Australian Cabernet - Shiraz        13.794543
3                            NaN        13.794543
4  Australian Cabernet Sauvignon        13.794543

                              Grapes  \
0                                NaN
1  Mourvedre, Shiraz/Syrah, Grenache
2                                NaN
3                                NaN
4                                NaN

                                       Food pairings   Bold    Tannin  Sweet  \
0  ['Beef', 'Lamb', 'Game (deer, venison)', 'Poul...  85.00  47.13000  20.62
1  ['Beef', 'Pasta', 'Lamb', 'Game (deer, venison)']  85.00  50.63000   9.05
2                        ['Beef', 'Lamb', 'Poultry']  85.00  49.37000   8.19
3                                                 []  61.73  46.29527   9.05
4                        ['Beef', 'Lamb', 'Poultry']  76.34  49.36000  16.02

   Acidic
0  43.570
1  43.000
2  44.780
3  53.555
4  47.890

In [2]:
# Explore the structure of the DataFrame
print(wine_df.info())
print(wine_df.describe())

# Remove duplicate records
wine_df = wine_df.drop_duplicates()

# Check for null values
print(wine_df.isnull().sum())

# Remove rows with null values
wine_df = wine_df.dropna()

# Confirm the cleaned DataFrame
print(wine_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5145 entries, 0 to 5144
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5145 non-null   int64
 1   Name               5145 non-null   object
 2   Rating             5145 non-null   float64
 3   Number of Ratings  5145 non-null   int64
 4   Price              5145 non-null   float64
 5   Region             5145 non-null   object
 6   Winery             5142 non-null   object
 7   Wine style         4624 non-null   object
 8   Alcohol content    5145 non-null   float64
 9   Grapes             2977 non-null   object
 10  Food pairings      5145 non-null   object
 11  Bold               5145 non-null   float64
 12  Tannin             5145 non-null   float64
 13  Sweet              5145 non-null   float64
 14  Acidic             5145 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 603.1+ KB
None
        Unnamed: 0       Rating  Number of Ratings        Price  \
count  5145.000000  5145.000000        5145.000000  5145.000000
mean    503.271914     4.000292         601.032653    27.424618
std     406.492427     0.157726        2725.500208    10.645818
min       0.000000     3.700000          25.000000     6.500000
25%     164.000000     3.900000          73.000000    19.980000
50%     377.000000     4.000000         189.000000    25.990000
75%     790.000000     4.100000         483.000000    34.000000
max    1436.000000     4.600000      159937.000000   155.000000

       Alcohol content         Bold       Tannin        Sweet       Acidic
count      5145.000000  5145.000000  5145.000000  5145.000000  5145.000000
mean         13.794363    57.990384    46.293535    12.259602    54.096125
std           1.242644    19.081310    11.092394    12.306948    14.463969
min           5.000000     0.060000     1.400000     0.010000     7.230000
25%          13.500000    45.330000    46.295270     6.230000    44.700000
50%          13.794543    61.730000    46.295270     9.050000    53.555000
75%          14.000000    69.620000    48.610000    13.200000    63.550000
max          20.500000    85.000000    85.000000    85.000000    85.000000
Unnamed: 0              0
Name                    0
Rating                  0
Number of Ratings       0
Price                   0
Region                  0
Winery                  3
Wine style            521
Alcohol content         0
Grapes               2168
Food pairings           0
Bold                    0
Tannin                  0
Sweet                   0
Acidic                  0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 2977 entries, 1 to 5144
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2977 non-null   int64
 1   Name               2977 non-null   object
 2   Rating             2977 non-null   float64
 3   Number of Ratings  2977 non-null   int64
 4   Price              2977 non-null   float64
 5   Region             2977 non-null   object
 6   Winery             2977 non-null   object
 7   Wine style         2977 non-null   object
 8   Alcohol content    2977 non-null   float64
 9   Grapes             2977 non-null   object
 10  Food pairings      2977 non-null   object
 11  Bold               2977 non-null   float64
 12  Tannin             2977 non-null   float64
 13  Sweet              2977 non-null   float64
 14  Acidic             2977 non-null   float64
dtypes: float64(7), int64(2), object(6)
memory usage: 372.1+ KB
None

In [3]:
import numpy as np

# Handling outliers: Example for 'Price' column
q1 = wine_df['Price'].quantile(0.25)
q3 = wine_df['Price'].quantile(0.75)
iqr = q3 - q1

# Define limits
lower_bound = q1 - 1.5 * iqr
upper_bound = q3 + 1.5 * iqr

# Remove outliers
wine_df = wine_df[(wine_df['Price'] >= lower_bound) & (wine_df['Price'] <= upper_bound)]

# Impute missing values (if any exist after dropping nulls)
# Example: Replace missing ratings with the mean
if wine_df['Rating'].isnull().sum() > 0:
    wine_df['Rating'] = wine_df['Rating'].fillna(wine_df['Rating'].mean())

In [4]:
# Split 'Region' into 'Country' and 'Country_region'
wine_df[['Country', 'Country_region']] = wine_df['Region'].str.split(' / ', n=1, expand=True)

# Create binary columns for 'Food pairings'
food_items = ['Beef', 'Pasta', 'Lamb', 'Poultry', 'Cheese', 'Fish', 'Seafood']  # Add all 21 items
for food in food_items:
    wine_df[food] = wine_df['Food pairings'].apply(lambda x: food in str(x))

# Display updated DataFrame
print(wine_df.head())

   Unnamed: 0                       Name  Rating  Number of Ratings  Price  \
1           1          Shotfire GSM 2018     3.9                 36  19.49
5           5  Passion has Red Lips 2014     3.8                648  18.49
7           7         Jester Shiraz 2018     3.9                658  22.00
8           8     Shotfire Quartage 2016     3.8                 93  17.99
9           9     Stonehorse Shiraz 2018     4.0                288  29.17

                                              Region            Winery  \
1              Australia / South Australia / Barossa      Thorn-Clarke
5  Australia / South Australia / Fleurieu / McLar...  Some Young Punks
7  Australia / South Australia / Fleurieu / McLar...            Mitolo
8              Australia / South Australia / Barossa      Thorn-Clarke
9  Australia / South Australia / Barossa / Baross...           Kaesler

                     Wine style  Alcohol content  \
1    Australian Rhône Blend Red             14.5
5  Australian Cabernet - Shiraz             14.5
7             Australian Shiraz             14.5
8     Australian Bordeaux Blend             14.5
9             Australian Shiraz             14.0

                                       Grapes  ... Acidic    Country  \
1           Mourvedre, Shiraz/Syrah, Grenache  ...  43.00  Australia
5      70 Shiraz/Syrah, 30 Cabernet Sauvignon  ...  44.78  Australia
7                            100 Shiraz/Syrah  ...  44.18  Australia
8  Cabernet Franc, Malbec, Cabernet Sauvignon  ...  65.28  Australia
9                            100 Shiraz/Syrah  ...  41.95  Australia

                               Country_region  Beef  Pasta  Lamb Poultry  \
1                   South Australia / Barossa  True   True  True   False
5   South Australia / Fleurieu / McLaren Vale  True  False  True    True
7   South Australia / Fleurieu / McLaren Vale  True  False  True    True
8                   South Australia / Barossa  True   True  True    True
9  South Australia / Barossa / Barossa Valley  True  False  True    True

   Cheese   Fish  Seafood
1   False  False    False
5   False  False    False
7   False  False    False
8   False  False    False
9   False  False    False

[5 rows x 24 columns]

In [5]:
# Drop irrelevant columns
wine_df = wine_df.drop(columns=['Region'])

# Final structure
print(wine_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2931 entries, 1 to 5144
Data columns (total 23 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2931 non-null   int64
 1   Name               2931 non-null   object
 2   Rating             2931 non-null   float64
 3   Number of Ratings  2931 non-null   int64
 4   Price              2931 non-null   float64
 5   Winery             2931 non-null   object
 6   Wine style         2931 non-null   object
 7   Alcohol content    2931 non-null   float64
 8   Grapes             2931 non-null   object
 9   Food pairings      2931 non-null   object
 10  Bold               2931 non-null   float64
 11  Tannin             2931 non-null   float64
 12  Sweet              2931 non-null   float64
 13  Acidic             2931 non-null   float64
 14  Country            2931 non-null   object
 15  Country_region     2927 non-null   object
 16  Beef               2931 non-null   bool
 17  Pasta              2931 non-null   bool
 18  Lamb               2931 non-null   bool
 19  Poultry            2931 non-null   bool
 20  Cheese             2931 non-null   bool
 21  Fish               2931 non-null   bool
 22  Seafood            2931 non-null   bool
dtypes: bool(7), float64(7), int64(2), object(7)
memory usage: 409.3+ KB
None

In [6]:
print(wine_df.isnull().sum())

Unnamed: 0           0
Name                 0
Rating               0
Number of Ratings    0
Price                0
Winery               0
Wine style           0
Alcohol content      0
Grapes               0
Food pairings        0
Bold                 0
Tannin               0
Sweet                0
Acidic               0
Country              0
Country_region       4
Beef                 0
Pasta                0
Lamb                 0
Poultry              0
Cheese               0
Fish                 0
Seafood              0
dtype: int64

In [9]:
wine_df.dropna(inplace=True)  # Drops rows with missing values
print(wine_df.isnull().sum())

Unnamed: 0           0
Name                 0
Rating               0
Number of Ratings    0
Price                0
Winery               0
Wine style           0
Alcohol content      0
Grapes               0
Food pairings        0
Bold                 0
Tannin               0
Sweet                0
Acidic               0
Country              0
Country_region       0
Beef                 0
Pasta                0
Lamb                 0
Poultry              0
Cheese               0
Fish                 0
Seafood              0
dtype: int64